@model IEnumerable<InmobiliariaMVC.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Listado de Contratos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Contrato</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Precio Mensual</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.IdContrato</td>
            <td>@item.Inmueble.Direccion</td>
            <td>@item.Inquilino.Nombre @item.Inquilino.Apellido</td>
            <td>@item.FechaInicio.ToShortDateString()</td>
            <td>@item.FechaFin.ToShortDateString()</td>
            <td>@item.PrecioMensual</td>
            <td>@item.Estado</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdContrato">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdContrato">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdContrato">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
